*#*
*~
__*__
_*_.*
*.aux
*.log
*.prv*
*eee_abstract.pdf
*.bbl
*.bcf
*.blg
*.nav
*.out
*.run.xml
*.snm
*.toc
*Monteith65.pdf
*agufull08.bst
*agujournal.cls
*fig05a.pdf
*fig06a.pdf
*vpd_et_paper.blg
2017-10-25_fix_vpd_derivative.pdf
*100.png
*igures
*vpd.pdf
orig*.png
*log
*throwaways.py
*.pdf