*#*
*~
__*__
_*_.*
*.aux
*.log
*.prv*
*eee_abstract.pdf
*.bbl
*.bcf
*.blg
*.nav
*.out
*.run.xml
*.snm
*.toc
*Monteith65.pdf
*agufull08.bst
*agujournal.cls
*fig05a.pdf
*fig06a.pdf
*vpd_et_paper.blg
2017-10-25_fix_vpd_derivative.pdf
*100.png
*igures
*vpd.pdf
orig*.png
*log
*throwaways.py
*.pdf
*.png
*.bak
doc/paper/.xapers_old/
doc/paper/afm_coverletter_letter.tex
doc/paper/arxiv-submission.tar
doc/paper/auto/
doc/paper/d2_solutions.tex
doc/paper/diff_v2.tex
doc/paper/gcb_submission_qs.txt
doc/paper/pft_params.tex
doc/paper/stats.tex
doc/paper/vpd_crit.tex
doc/paper/vpd_et_paper.synctex.gz
doc/paper/vpd_et_paper_pre_comment.tex
src/dat
src/paper_figure_code/co2_plot.py
src/paper_figure_code/compare_conductance_nikinmaa.py
src/paper_figure_code/test.bin
src/temp_plot.py
*.pkl
*.gz
dat/changjie/MAT_DATA
doc/paper/param_fixed.tex
doc/paper/param_varying.tex
doc/paper/supp-figs.tex
